@import "tailwindcss";

/* 
  Sobrescreve a media query nativa do Tailwind v4 
  para permitir alternar o Dark Mode através de classes CSS (.dark)
*/
@custom-variant dark (&:is(.dark *));

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
  .dark {
    --background: #0a0a0a;
    --foreground: #ededed;
    color-scheme: dark;
  }
  
  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}